.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__info {
    padding-left: 20px;
}

.checkoutProduct__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    background: linear-gradient(#fee6b0, #eeba37);
    transition: transform 0.01s;
}

.checkoutProduct__info > button:hover {
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.24), 0 4px 12px 0 rgba(0,0,0,0.19);
}

.checkoutProduct__info > button:active {
    background: #e0b341;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}